.gitignore
*~
.c9*
prebuilds/
build/
.env.example
.releaserc.json
.env
.prebuildrc.example
.github/
*.pdf
package-lock.json
uploadBinarios.js
release.js
.prebuildrc
node_modules/
teste.js
commands.js
