.gitignore
*~
.c9*
prebuilds/
build/
.releaserc.json
.env
.prebuildrc.example
.github/
*.pdf
.commands.js
package-lock.json
uploadBinarios.js
release.js
.prebuildrc
node_modules/
teste.js
commands.js
.env.example
.vscode/
packages/
tsconfig.json
tsconfig-build.json
tsconfig-build.tsbuildinfo